<%#A view that displays the professor homepage%>

<%- #logged in, session found -%>
<% if current_user %>
  <div id = 'sections-table-title'>
    <h3>My Sections</h3>
  </div>
  <div id = 'sections-table'>
  <table>
    <thead>
      <tr>
        <th>Class Number</th>
        <th>Subject</th>
        <th>Catalog</th>
        <th class ="sections-table-title">Title</th>
        <th>Section</th>
        <th>Status</th>
        <th>Export</th>
      </tr>
    </thead>

    <tbody>
      <% @my_sections.each do |section| %>
        <tr>
          <td><%= section.class_num %></td>
          <td><%= section.subject %></td>
          <td><%= section.catalog %></td>
          <td class ="sections-table-title"><%= section.title %></td>
          <td><%= section.section %></td>
          <td class ="center"><%= section.completed %>/<%= section.enrolled%> </td>
          <td class ="center"><% if(!section.completed.nil? and section.completed >= 0) %> <%= link_to 'Export', section_path(section, format: :csv) %>
              <% else %>Export<% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<%- #not logged in, no session found %>
<% else %>

<h2 id = 'instructions'>Professors please sign in to see your sections.<br><br>
    If you do not yet have an account, then please sign up with your SCU email.<br><br>
    </h2>

<% end %>
