<%- #logged in, session found -%>
<% if current_user %>

  <h3>My Sections</h3>

  <table>
    <thead>
      <tr>
        <th>Class Number</th>
        <th>Subject</th>
        <th>Catalog</th>
        <th>Title</th>
        <th>Section</th>
        <th>Status</th>
        <th>Export</th>
      </tr>
    </thead>

    <tbody>
      <% @my_sections.each do |section| %>
        <tr>
          <td><%= section.class_num %></td>
          <td><%= section.subject %></td>
          <td><%= section.catalog %></td>
          <td><%= section.title %></td>
          <td><%= section.section %></td>
          <td><%= section.completed %>/<%= section.enrolled%> </td>
          <td><% if(section.completed > 0) %> <%= link_to 'Export', section, format: :csv %>
              <% else %>Export<% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%- #not logged in, no session found %>
<% else %>
<div class = "professor">
  <%= link_to 'Sign Up', new_user_registration_path %>

  <%= link_to 'Sign In', new_user_session_path %>
</div>

<h2 id = 'instructions'>Please sign in to see your sections.<br><br>
    If you do not yet have an account, then please sign-up.<br><br>
    Make sure to use your '@scu.edu' email in the "Email" Field.<br><br>
    Admin, you know what to do ;*</h2>

<% end %>
