<% if(current_user && current_user.admin)%>

    <h1>Email Students</h1>
    <p>Here you can schedule emails to be sent to all lab students.</p>
        <div>
            <%= simple_form_for :date, url: email_students_path do |f| %>
                <%= f.input :send_email, collection: [["Now", 0], ["Tomorrow", 1], ["In 2 days", 2], ["Next week", 7]] %>
                <%= submit_tag("Submit") %>
            <% end %>
            
        </div>
        <br>
        <%= link_to 'Back', controller: 'admin', action: 'home' %>

<% else %>

    <h3>Error: You do not have access to this page.</h3>
    <%= link_to 'Back', root_url %>

<% end %>