<%- #if current user is logged in, session found and has admin rights -%>
<% if(current_user && current_user.admin)%>

    <h1>Email Students</h1>
    <p>Here you can schedule emails to be sent to all lab students.</p>
        <div>
            <%= simple_form_for :date, url: email_students_path do |f| %>
                <p>Send email: </p>
                <%= f.input_field :send_email, collection: [["Now", 0], ["In 1 minute", 1], ["In 5 minutes", 5], ["In 30 minutes", 30]] %>
                <br>
                <p><%= f.input_field :reminder, as: :boolean, boolean_style: :inline %> Reminder email?</p>
                <br>
                <%= submit_tag("Submit") %>
            <% end %>

        </div>
        <br>
        <%= link_to 'Back', controller: 'admin', action: 'home' %>

<%- #current_user is not an admin, render permissions error page %>
<% else %>

    <%= render file: 'public/403-1.html' %>

<% end %>
