<%- #if current user is logged in, session found and has admin rights -%>
<% if(current_user && current_user.admin)%>

  <h1>Admin Home</h1>

    <%= link_to 'Sign Out', destroy_user_session_path,
    method: :delete %>

    <%= link_to 'TA Evaluation Questions', questions_path %>

    <%= link_to 'Lab Sections Information', sections_path %>

    <%= link_to 'Update Roster', new_uploader_path %>

    <%= link_to 'Schedule Emails', 'email' %>

<%- #current_user is not an admin, get em outta here %>
<% else %>

    <h3>Error: You do not have access to this page.</h3>
    <%= link_to 'Back', root_url %>

<% end %>
