<%- #if current user is logged in, session found and has admin rights -%>
<% if(current_user && current_user.admin)%>

  <h1>Admin Home</h1>

  <div id = 'adminFlexContainer'>
    <%= link_to 'Lab Evaluation Questions', questions_path, class: 'aHomeButton' %>

    <%= link_to 'Lab Sections Information', sections_path, class: 'aHomeButton' %>

    <%= link_to 'Update Lab Roster', new_uploader_path, class: 'aHomeButton' %>

    <%= link_to 'Schedule Emails', 'email', class: 'aHomeButton' %>

  </div>

  <%- #current_user is not an admin, get em outta here %>
  <% else %>

    <h3> Error, you do not have access to this page (Requires Admin Permissions)</h3>
    <%= button_to 'Return to My sections', root_url, class: 'aHomeButton' %>

  <% end %>

<%- #not logged in, no session found %>
