<% if(current_user && current_user.admin)%>
    <h1>Your page has been uploaded</h1>
    <p>Nothing to see here.</p>

    <%= link_to "Upload more", "/uploader/new" %><p></p>
    <%= link_to "See sections", "/sections" %><p></p>
    <%= link_to "See Surveys", "/surveys" %><p></p>
    <%= link_to 'Go Home', root_url %>

<% else %>

    <h3>Error: You do not have access to this page.</h3>
    <%= link_to 'Back', root_url %>

<% end %>
