<h1>Uploader</h1>
<p>This is just to upload files</p>

<%= form_with(url: '/uploader', method: 'post', multipart: true) do %>
  <%= file_field_tag 'file', accept: '.csv', :onchange=>"fileisValid(event);"  %>
  <p></p>
  <p>Pick what type</p>
  <%= radio_button_tag(:listc, "classes") %>
  <%= label_tag(:of_classes, "classes") %>
  <%= radio_button_tag(:listc, "roster") %>
  <%= label_tag(:of_roster, "roster") %>
  <%= submit_tag("Submit") %>
<% end %>
 
<p>Find me in app/views/uploader/proUpload.html.erb</p>
