<h1>Uploader</h1>
<p>This is just to upload files</p>

<%= form_with(url: '/uploader', method: 'post', multipart: true) do %>
<div class = 'upload-section-1'>
  <%= file_field_tag 'file', accept: '.csv'  %>
</div>
<div class = 'upload-section-2'>
  Pick what type<br>
  Classes <%= radio_button_tag(:listc, "classes") %>
  Roster <%= radio_button_tag(:listc, "roster") %>
  </div>
  <div class = 'upload-submit-section'>
  <%= submit_tag("Submit") %>
  </div>
<% end %>
 
<p>Find me in app/views/uploader/proUpload.html.erb</p>