<%# A view file that shows the user to submit a file page%>
<% if(current_user && current_user.admin)%>
<div class= uploader-title>
<h1>Uploader</h1>
<p>Initialize the quarterly database here. </p>
</div>
<div class= uploader>
<%= form_with(url: '/uploader', method: 'post', multipart: true) do %>
<div class= upload-form>
  <div class = 'upload-section'>
    These headers are required:<br>
    <b>Class Nbr, Instructor Email, Student ID, Student Email, Subject, Catalog, Title, Tot Enrl.</b>
    <br><br>
    <div class = 'section'>
      <%= file_field_tag 'file', accept: '.csv'  %>
    </div>
     <div class = 'upload-section'>
       <%= submit_tag("Submit") %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Go Back Home', controller: 'admin', action: 'home' %>
<% end %>

<% else %>

    <%= render file: 'public/403-1.html' %>

<% end %>
