<%# Generates a survey edit page%>
<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_ID %>
    <%= form.number_field :student_ID %>
  </div>

  <div class="field">
    <%= form.label :student_email %>
    <%= form.text_area :student_email %>
  </div>

  <div class="field">
    <%= form.label :class_num %>
    <%= form.number_field :class_num %>
  </div>

  <div class="field">
    <%= form.label :survey_ID %>
    <%= form.number_field :survey_ID %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
