<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_ID %>
    <%= form.number_field :student_ID %>
  </div>

  <div class="field">
    <%= form.label :student_email %>
    <%= form.text_area :student_email %>
  </div>

  <div class="field">
    <%= form.label :class_num %>
    <%= form.number_field :class_num %>
  </div>

  <div class="field">
    <%= form.label :survey_ID %>
    <%= form.number_field :survey_ID %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :Q1 %>
    <%= form.text_area :Q1 %>
  </div>

  <div class="field">
    <%= form.label :Q2 %>
    <%= form.text_area :Q2 %>
  </div>

  <div class="field">
    <%= form.label :Q3 %>
    <%= form.text_area :Q3 %>
  </div>

  <div class="field">
    <%= form.label :Q4 %>
    <%= form.text_area :Q4 %>
  </div>

  <div class="field">
    <%= form.label :Q5 %>
    <%= form.text_area :Q5 %>
  </div>

  <div class="field">
    <%= form.label :Q6 %>
    <%= form.text_area :Q6 %>
  </div>

  <div class="field">
    <%= form.label :Q7 %>
    <%= form.text_area :Q7 %>
  </div>

  <div class="field">
    <%= form.label :Q8 %>
    <%= form.text_area :Q8 %>
  </div>

  <div class="field">
    <%= form.label :Q9 %>
    <%= form.text_area :Q9 %>
  </div>

  <div class="field">
    <%= form.label :Q10 %>
    <%= form.text_area :Q10 %>
  </div>

  <div class="field">
    <%= form.label :Q11 %>
    <%= form.text_area :Q11 %>
  </div>

  <div class="field">
    <%= form.label :Q12 %>
    <%= form.text_area :Q12 %>
  </div>

  <div class="field">
    <%= form.label :Q13 %>
    <%= form.text_area :Q13 %>
  </div>

  <div class="field">
    <%= form.label :Q14 %>
    <%= form.text_area :Q14 %>
  </div>

  <div class="field">
    <%= form.label :Q15 %>
    <%= form.text_area :Q15 %>
  </div>

  <div class="field">
    <%= form.label :Q16 %>
    <%= form.text_area :Q16 %>
  </div>

  <div class="field">
    <%= form.label :Q17 %>
    <%= form.text_area :Q17 %>
  </div>

  <div class="field">
    <%= form.label :Q18 %>
    <%= form.text_area :Q18 %>
  </div>

  <div class="field">
    <%= form.label :Q19 %>
    <%= form.text_area :Q19 %>
  </div>

  <div class="field">
    <%= form.label :Q20 %>
    <%= form.text_area :Q20 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
