<% if(current_user && current_user.admin)%>

  <p id="notice"><%= notice %></p>
  <!--
  <p>
    <strong>Student id:</strong>
    <%= @survey.student_ID %>
  </p>

  <p>
    <strong>Student email:</strong>
    <%= @survey.student_email %>
  </p>

  <p>
    <strong>Class num:</strong>
    <%= @survey.class_num %>
  </p>

  <p>
    <strong>Survey id:</strong>
    <%= @survey.survey_ID %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @survey.status %>
  </p>

  <p>
    <strong>Q1:</strong>
    <%= @survey.Q1 %>
  </p>

  <p>
    <strong>Q2:</strong>
    <%= @survey.Q2 %>
  </p>

  <p>
    <strong>Q3:</strong>
    <%= @survey.Q3 %>
  </p>

  <p>
    <strong>Q4:</strong>
    <%= @survey.Q4 %>
  </p>

  <p>
    <strong>Q5:</strong>
    <%= @survey.Q5 %>
  </p>

  <p>
    <strong>Q6:</strong>
    <%= @survey.Q6 %>
  </p>

  <p>
    <strong>Q7:</strong>
    <%= @survey.Q7 %>
  </p>

  <p>
    <strong>Q8:</strong>
    <%= @survey.Q8 %>
  </p>

  <p>
    <strong>Q9:</strong>
    <%= @survey.Q9 %>
  </p>

  <p>
    <strong>Q10:</strong>
    <%= @survey.Q10 %>
  </p>

  <p>
    <strong>Q11:</strong>
    <%= @survey.Q11 %>
  </p>

  <p>
    <strong>Q12:</strong>
    <%= @survey.Q12 %>
  </p>

  <p>
    <strong>Q13:</strong>
    <%= @survey.Q13 %>
  </p>

  <p>
    <strong>Q14:</strong>
    <%= @survey.Q14 %>
  </p>

  <p>
    <strong>Q15:</strong>
    <%= @survey.Q15 %>
  </p>

  <p>
    <strong>Q16:</strong>
    <%= @survey.Q16 %>
  </p>

  <p>
    <strong>Q17:</strong>
    <%= @survey.Q17 %>
  </p>

  <p>
    <strong>Q18:</strong>
    <%= @survey.Q18 %>
  </p>

  <p>
    <strong>Q19:</strong>
    <%= @survey.Q19 %>
  </p>

  <p>
    <strong>Q20:</strong>
    <%= @survey.Q20 %>
  </p>
  -->

  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'Back', surveys_path %>

<% else %>

    <%= link_to 'Back', root_url %>

<% end %>