<% if(current_user && current_user.admin)%>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Class num:</strong>
    <%= @section.class_num %>
  </p>

  <p>
    <strong>Professor email:</strong>
    <%= @section.professor_email %>
  </p>

  <p>
    <strong>Enrolled:</strong>
    <%= @section.enrolled %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= @section.completed %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= @section.subject %>
  </p>

  <p>
    <strong>Catalog:</strong>
    <%= @section.catalog %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @section.title %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= @section.section %>
  </p>

  <%= link_to 'Edit', edit_section_path(@section) %> |
  <%= link_to 'Back', sections_path %>

<% else %>

    <h3>Error: You do not have access to this page.</h3>
    <%= link_to 'Back', root_url %>

<% end %>