<%# Generates a section page for a professor%>
<% if(current_user && current_user.admin || @current_user_email == @section.professor_email)%>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Class num:</strong>
    <%= @section.class_num %>
  </p>

  <p>
    <strong>Professor email:</strong>
    <%= @section.professor_email %>
  </p>

  <p>
    <strong>Enrolled:</strong>
    <%= @section.enrolled %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= @section.completed %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= @section.subject %>
  </p>

  <p>
    <strong>Catalog:</strong>
    <%= @section.catalog %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @section.title %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= @section.section %>
  </p>

  <%= link_to 'Edit', edit_section_path(@section) %> |
  <%= link_to 'Back', sections_path %>

<% else %>

    <%= render file: 'public/403-1.html' %>

<% end %>